@model examen1.usuario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombres_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.derivacion_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.derivacion_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail_usuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
